In [1]:
!git branch

* anna
  master

In [2]:
pwd

'/Users/annabell/UofU/Sigman/python-modeling/demo'

# Reading Excel Files into Pandas Dataframes

## Get data using "single file" as function (no changes from original file)

In [1]:
from old_exe_reader import prev_single_file_reader
prev_method = prev_single_file_reader()

## New File Reader Options (Simplified Implementation)

In [2]:
from reading_data import read_excel_file
methods = read_excel_file()

### Simply read file (no custom rows/columns)

In [3]:
methods.read_excel_file("../model_oct_bothsubs"+".xlsx")

In [4]:
methods.data

,0,Unnamed: 1,1,2,3,4,5,6,Unnamed: 8,55,79
3,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,x49,x73
4,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
5,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.5,92,6,27.666667,69,0,-0.59232,-0.89851
6,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27,65,0,-0.5878,-0.9073
7,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
...,...,...,...,...,...,...,...,...,...,...,...
68,test_040,NaN,0,0,0,0,0,0,1,-0.59292,-0.90833
69,test_041,NaN,0,0,0,0,0,0,1,-0.59323,-0.89339
70,test_042,NaN,0,0,0,0,0,0,1,-0.59277,-0.90862
71,test_043,NaN,0,0,0,0,0,0,1,-0.59967,-0.89468
72,test_044,NaN,0,0,0,0,0,0,1,-0.59652,-0.88924

### Read excel with custom sheet name and header

In [5]:
methods.read_excel_file("../model_oct_bothsubs"+".xlsx", "bubbleplot", 5)

In [6]:
methods.data

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,L5,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570
...,...,...,...,...,...,...,...,...,...,...,...
63,test_040,NaN,0,0.000000,0,0,0.000000,0,1,-0.59292,-0.90833
64,test_041,NaN,0,0.000000,0,0,0.000000,0,1,-0.59323,-0.89339
65,test_042,NaN,0,0.000000,0,0,0.000000,0,1,-0.59277,-0.90862
66,test_043,NaN,0,0.000000,0,0,0.000000,0,1,-0.59967,-0.89468
67,test_044,NaN,0,0.000000,0,0,0.000000,0,1,-0.59652,-0.88924

### Read excel with custom sheet name and header, with row span [0,24]

In [7]:
methods.read_excel_file("../model_oct_bothsubs"+".xlsx", "bubbleplot", 5, 0, 24)

In [8]:
methods.df.shape

(24, 11)

In [9]:
methods.df.head()

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,L5,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

In [10]:
data = methods.data #to use in later demo

### Read excel with custom sheet name and header, with row span [0,24] and column span [0,2]

In [11]:
header_col = 5
rows_start = 0
rows_stop = 24
cols_start = 0
cols_stop = 2

In [12]:
methods.read_excel_file("../model_oct_bothsubs"+".xlsx", "bubbleplot", header_col, rows_start, rows_stop, cols_start, cols_stop)

In [13]:
methods.data.shape

(68, 11)

In [14]:
methods.data.head()

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,L5,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

## Read more-than one file (separate files)

In [15]:
# untested
# methods.read_two_excel_files()

# Preselecting Data for Models

In [16]:
from preprocessing import data_prep

In [17]:
data.head(3)

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199

In [18]:
Y_labels = data['ID']
X_labels = data.columns
X = data.loc[:, data.columns != 'ID']
Y = data['s2_1h_%yield']

### read in the data, no changes

In [19]:
preselct = data_prep(X, Y, X_labels, Y_labels)
preselct.print_result()

Shape X: (68, 10)
Shape y: (68,)
Shape labels: (68,)

#### get_curr_data 

This method allows you to save a copy of your data after you made changes to it. It is not necessay to use this method for the original dataset, though, because that copy is saved in the class.

In [20]:
X, Y = preselct.get_curr_data()

In [21]:
X.head()

,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

In [22]:
Y.head()

0    18
1     9
2     6
3    17
4     8
Name: s2_1h_%yield, dtype: int64

### use preselect options

#### reset_data
This method allows the user to revert to the original data before using any preselect methods

In [23]:
#this reverts your changes back to the original dataset
preselct.reset_data()

#### view current data after reset 
(lower-case x is the current data with applied preselect methods)

In [24]:
preselct.x.head()

,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

#### If you want to compare to the original dataset, you can access the original directly
(upper-case X is the original data before applied preselect methods)

In [25]:
preselct.X.head()

,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

### manipulating Y

In [26]:
preselct.y

0     18
1      9
2      6
3     17
4      8
      ..
63     0
64     0
65     0
66     0
67     0
Name: s2_1h_%yield, Length: 68, dtype: int64

#### get_y_exp

In [27]:
preselct.get_y_exp()
preselct.y

0     6.565997e+07
1     8.103084e+03
2     4.034288e+02
3     2.415495e+07
4     2.980958e+03
          ...
63    1.000000e+00
64    1.000000e+00
65    1.000000e+00
66    1.000000e+00
67    1.000000e+00
Name: s2_1h_%yield, Length: 68, dtype: float64

#### get_y_log

The function's default is to add a very number to any 0 value. 
You can also specify that you want to remove any row with zeros in it by setting remove_y_zeros to True.

In [28]:
preselct.get_y_log(remove_y_zeros = False)
preselct.y

0     18.0000
1      9.0000
2      6.0000
3     17.0000
4      8.0000
       ...
63     0.0001
64     0.0001
65     0.0001
66     0.0001
67     0.0001
Name: s2_1h_%yield, Length: 68, dtype: float64

#### absolute value

In [29]:
preselct.get_y_abs()
preselct.y

0     18.0000
1      9.0000
2      6.0000
3     17.0000
4      8.0000
       ...
63     0.0001
64     0.0001
65     0.0001
66     0.0001
67     0.0001
Name: s2_1h_%yield, Length: 68, dtype: float64

#### exclude column with name

This method takes a list of one or more column names and removes them from the dataframe

In [30]:
preselct.x.head(3)

,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199

In [31]:
preselct.drop_cols_names('SMILES') # you can add a list of names

In [32]:
preselct.x.head(3)

,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199

#### exclude column at index

This method takes a list of one or more column indices and removes them from the dataframe

In [33]:
preselct.drop_cols_indices(0)

In [34]:
preselct.x.head(3)

,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199

#### cutoff
These methods remove rows above or below a certain cutoff for a particular column

In [35]:
preselct.drop_rows_above_cutoff("s2_21h_%yield", 92)

In [36]:
preselct.x.head(3)

,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199